.stream {
	height: 200px;
	overflow: scroll;
}
.headers{
	text-align: center;
}
.odd{
    border:1px solid #dddddd;
    background: #90CECD  repeat-x left top;
}
.thumb-wrap{
	padding: 2px 12px 12px 12px ;
	min-height: 110px;
	overflow:hidden;
	clear: both;
}
.x-item-over{
/*    border:1px solid #000;*/
}
.thumb-wrap .time-ago{
	float: right;
	font-size:10px;
	color:gray;
}
.badge-important {
  background-color: #fc1d1d;
}
.img{
	float:left;
	padding:5px;
}
.pri{
  	border:1px solid #dddddd;
    background: #fde5e5  repeat-x left top;
}
.pan{
  	border:1px solid #dddddd;
    background: #e0edfb repeat-x left top;
}
.prd{
  	border:1px solid #dddddd;
    background: #fbfbe7 repeat-x left top;
}
.alianza{
	border:1px solid #dddddd;
    background: #e4f3f3 repeat-x left top;
}
.name{
    position: absolute;
    top: .01em;
    right: .5em;
    height: 1.5em;
    background: rgba(255,255,255,.7);
}
.badge-negative{
	margin-right: 10px;
}
.loadmore{
	height: 55px;
	width:40%;
	right: .5em;
	font-size:15px;
	position: absolute;
}
.retweet a{
	float: right;
    font-size: 0.9em;
    color: gray;
    margin: -20px 10px 0 0;
}
.retweet a:hover{
	text-decoration: none;
}
.load{
	width:100%;
	font-size:15px;
}
.x-panel-body img {
	max-width: none;
}
.tipi{
	min-height: 60px;
}
.brand a{
	color: #999999;
}
.brand a:hover {
	text-decoration: none;
}
.logo{
	position: fixed;
	top: 7px;
	right: 50%;
	z-index: 99999;
}
.label-info-big {
    background-color: #3a87ad;
    text-align: center;
    font-size: 20px;
}

/* @group Cabeceras de los candidatos */
.candidato{
	border:1px solid #dddddd;
    background: #efefef repeat-x left top;
	margin:0 5px 0 0;
}
.contenedor-centro{
	width: 250px;
	margin: 0 auto;
}
.tweets{
	float: left;
	width: 70px;
	margin: 15px 10px 0px;
	
}
.tweets h3{
	background-image: url("../img/Tweet-32.png");
	background-repeat: no-repeat;
	background-position: top;
	text-indent: -9999px;
}
.contenedor-centro p{
	text-align: center;
	font-size: 20px;
}
.contenedor-centro .label{
	padding: 5px 0;
}
.negativos{
	float: right;
	width: 70px;
	margin: 12px 10px 0px;
}
.negativos h3{
	background-image: url("../img/Disapprove-48.png");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: bottom;
	margin-bottom: 3px;
	text-indent: -9999px;
}
.recuadro{
	width: 70px;
	height: 70px;
	float: left;
}
.candidato .imagen {
	height: 100%;
	background-position: left;
	background-repeat: no-repeat;
	background-size:70px;
}
.obr-imagen{background-image: url("https://twimg0-a.akamaihd.net/profile_images/508228230/foto_tw_normal.jpg");}
.epn-imagen{background-image: url("https://si0.twimg.com/profile_images/1990796199/EPN.jpg");}
.jvm-imagen{background-image: url("https://si0.twimg.com/profile_images/2171219068/561240_10150799454499533_297028154532_9549761_222771239_n.jpg")}
.quadri-imagen{background-image: url("https://si0.twimg.com/profile_images/2031784254/GQ_NA_Recortado.jpg");}
.nombre{
	color: white;
	width: 70px;
	position: absolute;
	margin-top: -18px;
	background-image:
		linear-gradient(bottom, rgba(0,0,0,0.5) 30%,
								rgba(190,190,190,0.3) 80%,
								rgba(190,190,190,0) 100%);
	background-image:
		-o-linear-gradient(bottom,	rgba(0,0,0,0.5) 30%,
								rgba(190,190,190,0.3) 80%,
								rgba(190,190,190,0) 100%);
	background-image:
		-moz-linear-gradient(bottom, 	rgba(0,0,0,0.5) 30%,
								rgba(190,190,190,0.3) 80%,
								rgba(190,190,190,0) 100%);
	background-image:
		-webkit-linear-gradient(bottom,	rgba(0,0,0,0.5) 30%,
								rgba(190,190,190,0.3) 80%,
								rgba(190,190,190,0) 100%);
	background-image:
		-ms-linear-gradient(bottom,	rgba(0,0,0,0.5) 30%,
								rgba(190,190,190,0.3) 80%,
								rgba(190,190,190,0) 100%);
	
}
.nombre h5{
	font-size: 8px;
	text-align: center;
}

/* @end */